<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <%=stylesheet_link_tag 'application', media: 'all'%>
    <%=javascript_include_tag 'application'%>
    <%=csrf_meta_tags%>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" />
    <%=render 'layouts/shim'%>
      
  <body>
    <%=render 'layouts/header'%>

    <div style="margin-left: auto; width: 800px; height: 80px;">&nbsp;</div>
    <div class="container">
      <%=yield%>
    </div>
    <%=render 'layouts/footer'%>
      
  </body>
<!--
</html>
-->
